.link_btn{
	background-color: #fec62a;color: black !important ;padding: 7px !important;border-radius: 3px;
}
.link_btn a{text-decoration: none !important; color: black!important;}
.alert a{text-decoration: none;;}

.bg-caprock-col{background:#8c0C04 !important;text-decoration: none !important;color:white;}
.scroll-css{height: 341px; overflow: scroll; overflow-x: hidden;}