html,body{overflow-x:hidden}

/* > 1240 ------------------------------------------------------------------------------------------------------------- > 1240 */

@media only screen and (min-width: 1240px)
{
	.layout-boxed{padding:25px}
	.layout-boxed.boxed-no-margin{padding:0;}
	#Top_bar.loading{display:none}

	.hover_color:hover .hover_color_bg,.hover_color.hover .hover_color_bg{background-color:inherit!important;border-color:inherit!important}
}


/* #Header Creative always Open	1240 - 1489 ----------------------------------------- #Header Creative always Open 1240 - 1489 */

@media only screen and (min-width: 1240px) and (max-width: 1489px)
{
	body.header-open							{min-width:0;}
	.header-open #Wrapper 						{max-width:960px;}

	.header-open .section_wrapper,
	.header-open .container,
	.header-open.with_aside .content_wrapper	{max-width:940px;}

	.header-open.with_aside .section_wrapper	{max-width:100%;}

	/* -------------------- */

	/* Error 404 */
	.header-open #Error_404 .error_pic i{font-size:220px;line-height:260px}
	.header-open #Error_404 .error_desk{padding-top:40px}

	/* Google maps */
	.header-open .section.full-width .wrap.one .column_map.one .google-map-contact-wrapper{left:auto;right:50px;}

	/* Offer slider */
	.header-open .offer .offer_li .desc_wrapper{width:436px;width:calc(50% - 42px)}

	/* Portfolio list */
	body.header-open:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper{width:921px}

	/* Recent posts */
	.header-open .Recent_posts ul li .desc{margin-right:60px}
	.header-open .Recent_posts ul li .photo{width:60px;height:60px}
	.header-open .Recent_posts ul li .photo .c{width:20px;height:20px;line-height:20px;bottom:5px;right:-8px}
}


/* < 1240 ------------------------------------------------------------------------------------------------------------- < 1240 */

@media only screen and (max-width: 1239px)
{
	/* iOS phone number linking */
	a[href^=tel]{color:inherit;text-decoration:none}

	/* Hover Effect */
	.no-hover-tablet a.button:after,.no-hover-tablet a.tp-button:after,.no-hover-tablet button:after,.no-hover-tablet input:after{display:none}
	.no-hover-tablet .image_frame .image_wrapper img{top:0!important}
	.no-hover-tablet .image_frame:not(.no_link) .image_wrapper img:not(.ls-l){margin-bottom:0!important}
	.no-hover-tablet .image_frame .image_wrapper .mask,.no-hover-tablet .image_frame .image_wrapper .image_links{display:none!important}
	.no-hover-tablet .Recent_posts ul li .desc:after{display:none}
	.no-hover-tablet .Recent_posts ul li a:hover h6,.no-hover-tablet .Recent_posts ul li a:hover .desc .date{color:inherit!important}

	body:not(.no-hover-tablet) .hover_color:hover .hover_color_bg,
	body:not(.no-hover-tablet) .hover_color.hover .hover_color_bg{background-color:inherit!important;border-color:inherit!important}

	/* Portfolio masonry hover */
	.with_aside .portfolio_group.masonry-hover .portfolio-item:not(.no-thumbnail) .masonry-hover-wrapper .hover-desc .desc-inner .desc-wrappper{display:none}

	/* Section Background Image */
	.no-section-bg-tablet .section{background-image:none!important}

	/* Google maps */
	.section.full-width .wrap.one .column_map.one .google-map-contact-wrapper{left:auto;right:50px;}
}


/* #Desktop	960 - 1239 ---------------------------------------------------------------------------------- #Desktop	960 - 1239 */

@media only screen and (min-width: 960px) and (max-width: 1239px)
{
	body 							{min-width:0; }
	#Wrapper 						{max-width:960px;}

	.section_wrapper,
	.container,
	.with_aside .content_wrapper	{max-width:940px;}

	/* -------------------- */

	/* Top bar width */
	#Top_bar .top_bar_left{width:729px}

	/* Blog | Columns | Grid, Masonry */
	.posts_group.grid.col-5 .post-item,.posts_group.masonry.col-5 .post-item,.posts_group.grid.col-6 .post-item,.posts_group.masonry.col-6 .post-item{width:22.99%}
	.posts_group.grid.col-5 .post-item:nth-child(5n+1){clear:none}
	.posts_group.grid.col-6 .post-item:nth-child(6n+1){clear:none}
	.posts_group.grid.col-5 .post-item:nth-child(4n+1){clear:both}
	.posts_group.grid.col-6 .post-item:nth-child(4n+1){clear:both}

	/* Latest News */
	.column.one-fourth .Latest_news ul .desc .date i{display:none}
	.column.one-second .Latest_news.featured ul .desc .date i{display:none}
	.wrap.two-third .column.three-fifth .Latest_news.featured ul,.wrap.two-third .column.one-second .Latest_news.featured ul,.wrap.three-fifth .column.three-fifth .Latest_news.featured ul,.wrap.three-fifth .column.one-second .Latest_news.featured ul,.wrap.one-second .column.three-fourth .Latest_news.featured ul{width:100%}
	.wrap.two-fifth .Latest_news.featured ul,.wrap.one-third .Latest_news.featured ul,.wrap.one-fourth .Latest_news.featured ul{width:100%}

	/* Blog Teaser */
	.blog-teaser li:not(:first-child) .desc-wrapper .desc{padding:70px 20px 25px;}

	.column.two-third .blog-teaser li:not(:first-child) .desc-wrapper .desc .post-meta,
	.column.three-fifth .blog-teaser li:not(:first-child) .desc-wrapper .desc .post-meta{display:none;}
	.wrap.two-third .blog-teaser li:not(:first-child) .desc-wrapper .desc .post-meta,
	.wrap.three-fifth .blog-teaser li:not(:first-child) .desc-wrapper .desc .post-meta{display:none;}

	/* Portfolio | List */
	body:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper{width:921px}

		/* Portfolio | Columns | Grid, Masonry, Masonry Hover */
		.portfolio_group.grid.col-5 .portfolio-item,
		.portfolio_group.masonry.col-5 .portfolio-item,
		.portfolio_group.masonry-hover.col-5 .portfolio-item,
		.portfolio_group.masonry-minimal.col-5 .portfolio-item,
		.portfolio_group.grid.col-6 .portfolio-item,
		.portfolio_group.masonry.col-6 .portfolio-item,
		.portfolio_group.masonry-hover.col-6 .portfolio-item,
		.portfolio_group.masonry-minimal.col-6 .portfolio-item{width:22.99%}

		/* Portfolio | Columns | Flat */
		.portfolio_group.flat.col-5 .portfolio-item,
		.portfolio_group.flat.col-6 .portfolio-item{width:24.99%}

	/* Error 404 */
	#Error_404 .error_pic i{font-size:220px;line-height:260px}
	#Error_404 .error_desk{padding-top:40px}

	/* Button */
	a.button.kill_the_icon .button_icon{padding-left:10px;padding-right:10px;}
	a.button.kill_the_icon .button_label{padding-left:15px;padding-right:15px;}

	/* Offer slider */
	.offer .offer_li .desc_wrapper{width:436px;width:calc(50% - 42px)}

	/* Recent posts */
	.Recent_posts ul li .desc{margin-right:60px}
	.Recent_posts ul li .photo{width:60px;height:60px}
	.Recent_posts ul li .photo .c{width:20px;height:20px;line-height:20px;bottom:5px;right:-8px}
	.Recent_posts ul li.format-link .photo:after {width: 60px; height: 60px; line-height: 60px; font-size: 30px; }
	.Recent_posts ul li.format-quote .photo:after { width: 60px; height: 60px; line-height: 60px; font-size: 30px; }

	/* Zoom Box */
	.zoom_box .desc .desc_txt{font-size:22px;line-height:26px}
}


/* #Desktop	> 960 -------------------------------------------------------------------------------------------- #Desktop	> 960 */

@media only screen and (min-width: 960px)
{
	.hide-desktop{display:none!important}
}


/* #Tablet (Landscape) 768 - 959 --------------------------------------------------------------- #Tablet (Landscape) 768 - 959 */

@media only screen and (min-width: 768px) and (max-width: 959px)
{
	body			{min-width:0;}
	#Wrapper	{max-width:728px;}

	.section_wrapper,
	.container,
	.with_aside .content_wrapper {max-width:708px;}

	.mcb-wrap[data-tablet="no-up"] {margin-top:0!important}

	/* -------------------- */

	.hide-tablet{display:none!important}

	/* Header magazine */
	.header-magazine #Top_bar .banner_wrapper{width:300px;top:27px}

	/* Top bar width */
	#Top_bar .top_bar_left{width:501px}

	/* .footer-sliding */
	.footer-fixed #Content,.footer-sliding #Content{margin-bottom:0!important}
	.footer-fixed #Footer,.footer-sliding #Footer{position:static}

	/* Subheader */
	#Subheader .title{width:100%}
	#Subheader ul.breadcrumbs{display:none}

	/* Filters */
	#Filters .filters_wrapper ul li{width:24%;margin:.5%}

	/* Blog */
	.with_aside .classic .post-meta .author-date .author .label{display:none}
	.with_aside .classic .post-meta .category{display:none}

		/* Grid, Masonry */
		.grid .post-item,.masonry .post-item{width:47.9%}

		/* Timeline */
		.timeline .post-photo-wrapper{width:100%;float:none}
		.timeline .post-desc-wrapper{width:100%;float:none}

		/* Photo 2 */
		.photo2 .post-item{margin-bottom:20px}
		.photo2 .post .post-desc-wrapper{width:85%;top:-55px;padding:25px 35px}
		.photo2 .post.no-img .button-love{right:11%;right:calc(7.5% + 25px)}

		.photo2.col-2 .post-item{margin-bottom:40px}
		.photo2.col-2 .post-desc-wrapper{width:100%;top:0}
		.photo2.col-2 .post.no-img .button-love{right:25px}

		.photo2.col-3 .button-love{top:15px;right:15px}
		.photo2.col-3 .post-item{width:31.33%; margin:0 1% 40px}
		.photo2.col-3 .post-desc-wrapper{width:100%;top:0;padding:20px 25px}
		.photo2.col-3 .post.no-img .button-love{top:15px;right:15px}

		/* Blog | Columns | Grid, Masonry */
		.posts_group.grid.col-4 .post-item,.posts_group.masonry.col-4 .post-item,.posts_group.grid.col-5 .post-item,.posts_group.masonry.col-5 .post-item,.posts_group.grid.col-6 .post-item,.posts_group.masonry.col-6 .post-item{width:31.33%}
		.posts_group.grid.col-4 .post-item:nth-child(4n+1){clear:none}
		.posts_group.grid.col-5 .post-item:nth-child(5n+1){clear:none}
		.posts_group.grid.col-6 .post-item:nth-child(6n+1){clear:none}
		.posts_group.grid.col-4 .post-item:nth-child(3n+1){clear:both}
		.posts_group.grid.col-5 .post-item:nth-child(3n+1){clear:both}
		.posts_group.grid.col-6 .post-item:nth-child(3n+1){clear:both}

		/* Blog | Columns | Masonry tiles */
		.posts_group.masonry.tiles.col-4 .post-item,.posts_group.masonry.tiles.col-5 .post-item,.posts_group.masonry.tiles.col-6 .post-item{width:49.9%}
		.posts_group.masonry.margin.col-4 .post-item,.posts_group.masonry.margin.col-5 .post-item,.posts_group.masonry.margin.col-6 .post-item{width:48.9%}

	/* Latest News */
	.column.one-third .Latest_news ul .desc .date i{display:none}
	.column.one-second .Latest_news.featured ul{width:100%}
	.column.one-third .Latest_news.featured ul .desc .date i,.column.one-fourth .Latest_news.featured ul .desc .date i{display:none}
	.wrap.five-sixth .column.three-fifth .Latest_news.featured ul,.wrap.four-fifth .column.three-fifth .Latest_news.featured ul,.wrap.three-fourth .column.three-fifth .Latest_news.featured ul,.wrap.two-third .column.three-fifth .Latest_news.featured ul,.wrap.two-third .column.one-second .Latest_news.featured ul,.wrap.two-third .column.three-fourth .Latest_news.featured ul,.wrap.three-fifth .column.three-fifth .Latest_news.featured ul,.wrap.three-fifth .column.one-second .Latest_news.featured ul,.wrap.three-fifth .column.three-fourth .Latest_news.featured ul{width:100%}
	.wrap.one-second .Latest_news.featured ul,.wrap.two-fifth .Latest_news.featured ul,.wrap.one-third .Latest_news.featured ul,.wrap.one-fourth .Latest_news.featured ul{width:100%}

	/* Blog Teaser */
	.blog-teaser li .desc-wrapper .desc{padding:70px 25px 25px;}
	.blog-teaser li:not(:first-child) .desc-wrapper .desc{padding:70px 20px 20px;}
	.blog-teaser li:not(:first-child) .desc-wrapper .desc .post-meta{display:none;}

	.column.three-fifth .blog-teaser li .desc-wrapper .desc .post-meta .comments{display:none;}
	.wrap.three-fifth .blog-teaser li .desc-wrapper .desc .post-meta .comments{display:none;}

	/* Recent posts */
	.Recent_posts ul li .desc{margin-right:40px}
	.Recent_posts ul li .photo{width:40px;height:40px}
	.Recent_posts ul li.format-link .photo{background-size:40% auto}
	.Recent_posts ul li .photo .c{width:20px;height:20px;line-height:20px;bottom:5px;right:-8px}
	.Recent_posts ul li.format-link .photo:after {width: 40px; height: 40px; line-height: 40px; font-size: 20px; }
	.Recent_posts ul li.format-quote .photo:after { width: 40px; height: 40px; line-height: 40px; font-size: 20px; }

	/* Portfolio list */
	body:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper{width:694px}

		/* Grid, Masonry, Masonry Hover */
		.portfolio_group.grid.col-4 .portfolio-item,.portfolio_group.masonry.col-4 .portfolio-item,.portfolio_group.masonry-hover.col-4 .portfolio-item,.portfolio_group.masonry-minimal.col-4 .portfolio-item,.portfolio_group.grid.col-5 .portfolio-item,.portfolio_group.masonry.col-5 .portfolio-item,.portfolio_group.masonry-hover.col-5 .portfolio-item,.portfolio_group.masonry-minimal.col-5 .portfolio-item,.portfolio_group.grid.col-6 .portfolio-item,.portfolio_group.masonry.col-6 .portfolio-item,.portfolio_group.masonry-hover.col-6 .portfolio-item,.portfolio_group.masonry-minimal.col-6 .portfolio-item{width:31.33%}

		/* Flat */
		.portfolio_group.flat.col-4 .portfolio-item,.portfolio_group.flat.col-5 .portfolio-item,.portfolio_group.flat.col-6 .portfolio-item{width:33.33%}

	/* Tabs */
	.tabs_vertical.ui-tabs .ui-tabs-nav{width:33%!important}
	.tabs_vertical.ui-tabs .ui-tabs-panel{width:66.7%!important}

	/* Counter */
	.one-fourth .counter.counter_horizontal,.one-fifth .counter.counter_horizontal,.one-sixth .counter.counter_horizontal{text-align:center}
	.one-fourth .counter.counter_horizontal .icon_wrapper,.one-fifth .counter.counter_horizontal .icon_wrapper,.one-sixth .counter.counter_horizontal .icon_wrapper{position:static;margin:0 auto;margin-bottom:15px}
	.one-fourth .counter.counter_horizontal .desc_wrapper,.one-fifth .counter.counter_horizontal .desc_wrapper,.one-sixth .counter.counter_horizontal .desc_wrapper{padding-left:0}

	/* Article box */
	.one-third .article_box .photo_wrapper{width:100%;float:none;text-align:center}
	.one-third .article_box .desc_wrapper{width:100%;min-height:auto;float:none}

	/* Pricing table */
	.pricing-box .plan-header h2{word-wrap:break-word}
	.pricing-box .plan-header .price sup.period{position:static;top:0;display:block}

	/* Infobox */
	.infobox{padding-left:20px;word-wrap:break-word}
	.infobox ul li{padding-left:0;padding-right:0}
	.infobox ul li:before{display:none}
	.style-simple .infobox ul li{padding-left:0}

	/* Portfolio photo */
	.portfolio-photo .portfolio-item .portfolio-details:hover .details{opacity:1}
	.portfolio-photo .portfolio-item .portfolio-details .more{display:none}

	/* Get in touch */
	.get_in_touch{padding-left:20px;word-wrap:break-word}
	.get_in_touch ul li{padding-left:0;padding-right:0}
	.get_in_touch ul li .icon{display:none}

	/* Hover color */
	.hover_color{word-wrap:break-word}

	/* How it works */
	.how_it_works .image{width:116px;height:116px;line-height:114px}
	.how_it_works .image img{max-width:66px!important;max-height:66px!important}
	.how_it_works .image .number{bottom:0;right:0}
	.how_it_works.has_border:after{top:60px}

	.how_it_works.fill .image img{border-radius:100%;max-width:116px!important;max-height:116px!important;}

	/* Opening Hours */
	.opening_hours{padding-left:20px;word-wrap:break-word}
	.opening_hours .opening_hours_wrapper li span{font-size:16px;line-height:16px}

	/* Icon box */
	.icon_box.icon_position_left{min-height:auto;padding-left:0;padding-right:0}
	.icon_box.icon_position_left .icon_wrapper{position:static;margin-bottom:15px}
	.icon_box.icon_position_left .desc_wrapper{text-align:center;padding-top:0}
	.icon_box.icon_position_left .image_wrapper{position:static;left:0;margin-bottom:15px;width:auto;height:auto}

	/* Flat box */
	.flat_box .photo_wrapper .icon{width:50px}
	.flat_box .photo_wrapper .icon i{height:40px;line-height:40px;font-size:30px;margin-top:-20px}
	.flat_box a:hover .photo_wrapper .icon{-webkit-transform:translateX(-50px);transform:translateX(-50px)}
	.flat_box .desc_wrapper{margin:0}
	.rtl .flat_box a:hover .photo_wrapper .icon{-webkit-transform:translateX(50px);transform:translateX(50px)}

	/* Offer thumb */
	.offer_thumb_ul li.offer_thumb_li .image_wrapper{width:100%;float:none}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper{width:100%;float:none}
	.offer_thumb.bottom .offer_thumb_ul li.offer_thumb_li .image_wrapper{width:100%}
	.offer_thumb.bottom .offer_thumb_ul li.offer_thumb_li .desc_wrapper{margin-right:0;width:100%}

	/* Trailer box */
	.trailer_box .desc h2{font-size:22px;line-height:22px}

	/* Offer slider */
	.offer .offer_li .desc_wrapper{width:324px;width:calc(50% - 42px)}

	/* Error 404 */
	#Error_404{position:static;padding-top:50px;margin-top:0}
	#Error_404 .error_pic{width:100%;float:none}
	#Error_404 .error_pic i{font-size:260px;line-height:260px}
	#Error_404 .error_desk{width:100%;float:none;padding-top:20px;text-align:center}

	/* Buttons */
	a.kill_the_icon .button_icon,.widget-area a.button .button_icon{display:none}

	.button-stroke a.button_left.button.kill_the_icon .button_label{padding-left:20px}
	.button-stroke a.button_left.button_large.kill_the_icon .button_label{padding-left:30px}
	.button-stroke a.button_right.button.kill_the_icon .button_label{padding-right:20px}
	.button-stroke a.button_right.button_large.kill_the_icon .button_label{padding-right:30px}

	.button-flat a.button_left.button.kill_the_icon .button_label{padding-left:20px}
	.button-flat a.button_left.button_large.kill_the_icon .button_label{padding-left:30px}
	.button-flat a.button_right.button.kill_the_icon .button_label{padding-right:20px}
	.button-flat a.button_right.button_large.kill_the_icon .button_label{padding-right:30px}

	.button-round a.button_left.button.kill_the_icon .button_label{padding-left:20px}
	.button-round a.button_left.button_large.kill_the_icon .button_label{padding-left:30px}
	.button-round a.button_right.button.kill_the_icon .button_label{padding-right:20px}
	.button-round a.button_right.button_large.kill_the_icon .button_label{padding-right:30px}

	/* Zoom Box */
	.zoom_box .desc .desc_txt{font-size:18px;line-height:22px}

	/* Trailer box */
	.trailer_box.horizontal .desc{padding-bottom:15px}
	.trailer_box.horizontal .desc h2{font-size:21px;line-height:21px}
	.trailer_box.horizontal .desc .subtitle{margin-bottom:5px}

	/* Easy Digital Downloads */
	.edd_downloads_list .edd_download{width:50%!important}
	.edd_downloads_list .edd_download:nth-child(5n+3){clear:both}
	.edd_downloads_list .edd_download .edd_download_inner{margin:0 5% 20px}
}


/* #Desktop & Tablet (Landscape) > 768 --------------------------------------------------- #Desktop & Tablet (Landscape) > 768 */

@media only screen and (min-width: 768px)
{
	.section.full-width-ex-mobile > .section_wrapper{max-width:100%!important}
	.section.full-width-ex-mobile > .one.column,.section.full-width-ex-mobile > .section_wrapper > .one.column,.section.full-width-ex-mobile .one.wrap .one.column{width:100%;margin:0}

	/* Transparent ---------- */
	.tr-menu #Top_bar .wpml-languages a.active,.tr-menu #Top_bar .wpml-languages ul.wpml-lang-dropdown{background-color:transparent}

	/* Header | Placeholder */
	.header-creative .header_placeholder,
	.header-empty .header_placeholder,
	.header-fixed .header_placeholder,
	.header-modern .header_placeholder,
	.header-semi .header_placeholder,
	.header-simple .header_placeholder,
	.header-transparent .header_placeholder{height:0!important}

	.tr-menu .header_placeholder{height:0!important}

	/* Header | Classic */
	.tr-menu.header-classic #Top_bar{position:absolute}
	.tr-menu.header-classic #Top_bar:not(.is-sticky){top:0!important;background-color:transparent!important}
	.tr-menu.header-classic.ab-show #Top_bar:not(.is-sticky){top:45px!important}
	.tr-menu.header-classic.minimalist-header:not(.template-slider) #Header{min-height:135px}

	/* Header | Creative */
	.tr-menu.header-creative #Header_creative{transition:left .5s ease-in-out, right .5s ease-in-out, background-color .5s ease-in-out}
	.tr-menu.header-creative #Header_creative:not(.active){background-color:transparent}

	/* Header | Plain */
	.tr-menu.header-plain #Top_bar{position:absolute}
	.tr-menu.header-plain #Top_bar:not(.is-sticky){top:0!important;background-color:transparent!important}
	.tr-menu.header-plain.ab-show #Top_bar:not(.is-sticky){top:45px!important}
	.tr-menu.header-plain.minimalist-header:not(.template-slider) #Header{min-height:125px}
	.header-plain #Top_bar,.header-plain #Top_bar .menu > li > a span:not(.description),
	.header-plain #Top_bar a#header_cart,.header-plain #Top_bar a#search_button,.header-plain #Top_bar .wpml-languages,.header-plain #Top_bar a.action_button{border-color:rgba(255,255,255,.1)}

	/* Header | Split */
	.tr-menu.header-split #Top_bar{position:absolute}
	.tr-menu.header-split #Top_bar:not(.is-sticky){top:0!important;background-color:transparent!important}
	.tr-menu.header-split.ab-show #Top_bar:not(.is-sticky){top:45px!important}
	.tr-menu.header-split.minimalist-header:not(.template-slider) #Header{min-height:135px}

	/* Header | Semitransparent */
	.header-semi #Top_bar:not(.is-sticky){position:absolute;background-color:rgba(255,255,255,0.8)}
	.header-semi.ab-show #Top_bar:not(.is-sticky){top:45px!important}
	.header-semi.ab-hide #Top_bar:not(.is-sticky){top:0!important}

	/* Header | Stack */
	.tr-menu.header-stack #Top_bar{position:absolute}
	.tr-menu.header-stack #Top_bar